<div class="row">
    <div class="col-md-7 mx-auto mt-5" *ngIf="registerForm != undefined">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center mb-3"><b>Registro de {{this.tipoPerfil}}</b></h1>
                <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
                    <div class="row formulario">
                        <div class="form-group col-md-12 mb-3">
                            <label for="nombre">Nombre completo</label>
                            <input type="text" id="nombre" class="form-control" formControlName="nombre">
                            <small class="invalid"
                                *ngIf="registerForm?.get('nombre')?.errors?.required && registerForm.get('nombre')?.touched">El
                                nombre es requerido</small>
                        </div>
                        
                        <div class="form-group col-md-6 mb-3">
                            <label for="email">Email</label>
                            <input type="text" id="email" class="form-control" formControlName="email">
                            <small class="invalid"
                                *ngIf="registerForm.get('email')?.errors?.required && registerForm.get('email')?.touched ">
                                El email es requerido</small>
                        </div>
                        <div class="form-group col-md-6 mb-3">
                            <label for="contraseña">Contraseña</label>&nbsp;<small>(minimo 6 caracteres)</small>
                            <input type="password" id="contraseña" class="form-control" formControlName="contraseña">
                            <small class="invalid"
                                *ngIf="registerForm.get('contraseña')?.errors?.required && registerForm.get('contraseña')?.touched ">
                                La contraseña es requerida</small>
                        </div>
                        <div class="col-sm-12">
                            <label for="foto" class="form-label">Foto numero 1</label>
                            <input type="file" class="form-control" id="foto" formControlName="foto"
                                (change)="nuevaImagen($event)">
                        </div>


                    </div>

                    <button type="submit" class="btn btn-primary btn-lg btn-block mt-3"
                        [disabled]="registerForm.invalid">Crear cuenta nueva</button>

                </form>
                <button type="submit" class="btn btn-primary" (click)="CargaDatos()">Carga trucho</button>
                <button type="submit" class="btn btn-primary" (click)="veoForm()">VeoForm</button>
                <div class="form-group mt-3">
                    <p>¿Ya tienes una cuenta?&nbsp; <a [routerLink]="['/login']">Iniciar Sesión</a></p>
                </div>
            </div>
        </div>
    </div>
</div>