<div class="row mt-5" >
    <div class="col-lg-6">
        <div class="centrado">
            <img src="../../../assets/alumno.jpg" alt="Foto Alumno" class="imagenPerfil">
        </div>
        <p class="text-center"><button class="btn btn-info mt-3" (click)="redirigir('Alumno')">Registrar Alumno</button></p>
    </div>
    <div class="col-lg-6">
        <div class="centrado">
            <img src="../../../assets/Profesor.jpg" alt="Foto Profesor" class="imagenPerfil">
        </div>
        <p  class="text-center"><button class="btn btn-info mt-3" (click)="redirigir('Profesor')">Registrar Profesor</button></p>
    </div>
</div>