<div class="row">
    <div class="col-md-11 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <div class="text-center  d-flex justify-content-between align-items-center">
                    <h2 class="text-center">Listado de usuarios</h2>
                    <button class="btn btn-dark ml-auto" (click)="alumnosEliminados()">Ver alumnos eliminados <i class="fas fa-trash-alt"></i></button>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Busqueda por tipo perfil o nombre..."
                                name="filterPost" [(ngModel)]="filterPost">
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <!-- <th>#</th> -->
                                    <th>Nombre</th>
                                    <th>Email</th>
                                    <th>Tipo Perfil</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="listadoUsers != null">
                                <tr *ngFor="let user of listadoUsers | filtroUsuarios:filterPost">
                                    <td *ngIf="user.estado != 'BAJA'">{{user.nombre}}</td>
                                    <td *ngIf="user.estado != 'BAJA'">{{user.email}}</td>
                                    <td *ngIf="user.estado != 'BAJA'">{{user.tipoPerfil}}</td>
                                    <td *ngIf="user.estado != 'BAJA'">{{user.estado}}</td>
                                    <div *ngIf="user.tipoPerfil == 'Alumno' && user.estado != 'BAJA'">
                                        <td>
                                            <button class="btn btn-danger" (click)="eliminarUsuario(user)">Eliminar
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </td>
                                    </div>
                                    <div *ngIf="user.tipoPerfil != 'Alumno' && user.estado != 'BAJA'">
                                        <td></td>
                                    </div>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>