<div class="row animate__animated animate__backInDown">
    <div class="col-md-11 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12 col-lg-12 text-center">
                    <h2>Cargar Examen</h2>
                </div>
                <div class="col-md-12 col-lg-12 text-center mt-4">
                    <h6>Por favor cargue el examen</h6>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4 col-lg-4 order-md-last mt-5">
                        <div class="card">
                            <div class="card-body">
                                <app-listado-materias [listadoMaterias]='listadoMat'
                                    (eventoMateriaSeleccionada)="cargarMateriaSeleccionada($event)">
                                </app-listado-materias>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4 order-md-last mt-5">
                        <div class="card">
                            <div class="card-body">
                                <!-- <app-listado-materias [listadoMaterias]='listadoMat'
                                    (eventoMateriaSeleccionada)="cargarMateriaSeleccionada($event)">
                                </app-listado-materias> -->
                                <app-listado-alumnos [listadoAlumnos]='listadoAlumn'
                                    (eventoAlumnoSeleccionado)="cargarAlumnoSeleccionado($event)">
                                </app-listado-alumnos>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-lg-4 order-md-last mt-5">
                        <div class="card">
                            <div class="card-body">
                                <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
                                    <div class="form-group col-md-12 mb-3">
                                        <label for="nota">nota</label>
                                        <input type="number" id="nota" class="form-control" formControlName="nota">
                                        <small class="invalid"
                                            *ngIf="registerForm?.get('nota')?.errors?.required && registerForm.get('nota')?.touched">La
                                            nota es requerida</small>
                                    </div>
                                    <div class="form-group col-md-12 mb-3">
                                        <label for="fecha">fecha</label>
                                        <input type="date" id="fecha" class="form-control" formControlName="fecha">
                                        <small class="invalid"
                                            *ngIf="registerForm?.get('fecha')?.errors?.required && registerForm.get('fecha')?.touched">La
                                            fecha es requerida</small>
                                    </div>

                                    <div class="text-center d-grid gap-2">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block mt-3"
                                            [disabled]="registerForm.invalid">Cargar Examen</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>